
.btn.btn-primary {
  background: #006E90;
  padding: 15px 32px;
  border: none;
}

p {
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 150%;
    font-family: "montserrat", sans-serif;
    color: #3E464B;
}

h1, h2, h3, h4, h5 {
  font-family: "rubik", sans-serif;
  color: #3E464B;
  line-height: 150%;
}

.container {
    max-width: 1140px;
}

body {
  font-family: "montserrat", sans-serif;
  color: #3E464B;
}

/*header & navigation*/
.header {
  background: #F4FBFF;
}
.navbar a {
  text-decoration: none;
  color: #3E464B;
  padding: 5px !important;
}
.navbar a.active {
  border-bottom: 4px solid #B5E0FF;
}
.navbar a:hover {
  background: #B5E0FF;
  color: #3E464B;
}

/*header text*/
mark {
  background-color: #B5E0FF;
  color: #3E464B;
  padding: 5px;
}
mark:hover {
  background-color: #3E464B;
  color: #B5E0FF;
}

/*footer*/
footer {
    background: #F4FBFF;
}

#floatingTextarea {
  height: 200px;
}

.form-floating {
  border: 1px solid #EDEDED;
  font-family: "montserrat", sans-serif;
  color: #3E464B;
}

.form-control:focus {
  border-color: #006E90;
  box-shadow: inset 0 1px 1px rgba(0, 110, 144, 0.075), 0 0 8px rgba(0, 110, 144, 0.6);
}

/*about page CSS*/
.container-about {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 80px;
}

.container-about > div {
  flex: 1;
}

.illustration {
  width: 100%;
  max-width: 400px;
  height: auto;
}