:root {
  --primary-yellow: #fcce5c;
  --secondary-blue: #1A535C;
}

.link {
  color: var(--secondary-blue);
}
.link:hover {
  background: var(--primary-yellow);
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
}

p {
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 150%;
    font-family: "open sans", sans-serif;
    color: #3E464B;
}

h1, h2, h3, h4, h5 {
  font-family: "montserrat", sans-serif;
  color: #3E464B;
  line-height: 160%;
  font-weight: bold;
}
h2 {
  margin-top: 5%;
}
h3 {
  font-size: 1.5rem;
}

.container {
    max-width: 1000px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #3E464B;
  padding-top: 50px;
}

/*header & navigation*/
.header {
  background: #fff;
}

.navbar a {
  text-decoration: none;
  color: #3E464B;
  padding: 5px !important;
}
.navbar a.active {
  border-bottom: 4px solid var(--primary-yellow);
}
.navbar a:hover {
  background: var(--primary-yellow);
  color: #fff;
  transition: 0.2s ease;
}

/*single projects*/
.cms-background {
  background: rgba(1, 113, 172, 0.1);
}

.affiliate-background {
  background-color: rgb(255, 192, 203);
}

.saas-background {
  background: #92C7F9;
}


/*header text*/
mark {
  background-color: var(--primary-yellow);
  color: #3E464B;
  padding: 5px;
}
mark:hover {
  background-color: white;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*projects section*/
.link-project {
  text-decoration: none;
}
.row-cms {
  background: rgb(229, 240, 247);
  overflow: hidden;
  transition: .3s all ease-in-out;
}
.row-cms:hover {
  background: rgb(229, 240, 247, 0.5);
  animation-duration: 0.25s;
  transition: .3s all ease-in-out;
}

.row-saas {
  background: #92C7F9;
  overflow: hidden;
  transition: .3s all ease-in-out;
}
.row-saas:hover {
  background: rgb(146, 199, 249, 0.5);
  animation-duration: 0.25s;
  transition: .3s all ease-in-out;
}

.row-affiliate {
  background: rgb(255, 192, 203);
  overflow: hidden;
  transition: .3s all ease-in-out;
}
.row-affiliate:hover {
  background: rgb(255, 192, 203, 0.5);
  animation-duration: 0.25s;
  transition: .3s all ease-in-out;
}

.cms-image-homepage {
  max-height: 300px;
}


/*footer*/
footer {
    background: white;
}

#floatingTextarea {
  height: 200px;
}

.form-floating {
  border: 1px solid #EDEDED;
  font-family: "montserrat", sans-serif;
  color: #3E464B;
}
.form-control:focus {
  border-color: #006E90;
  box-shadow: inset 0 1px 1px rgba(0, 110, 144, 0.075), 0 0 8px rgba(0, 110, 144, 0.6);
}
.btn.btn-primary {
  background: #2b8997;
  padding: 15px 32px;
  border: none;
}
.btn.btn-primary:hover {
  background: var(--primary-yellow);
}

.contact-icon {
  color: var(--secondary-blue);
  font-size: 40px;
  width: 95px;
  height: 95px;
  text-decoration: none;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;  
}
.contact-icon:hover {
  background: var(--primary-yellow);
  color: #fff;
  transition: 0.2s ease;
}

