
.btn.btn-primary {
  background: #006E90;
  padding: 15px 32px;
  border: none;
}

p {
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 150%;
    font-family: "montserrat", sans-serif;
    color: #3E464B;
}

h1, h2, h3, h4, h5 {
  font-family: "rubik", sans-serif;
  color: #3E464B;
  line-height: 150%;
}

.container {
    max-width: 1140px;
}

body {
  font-family: "montserrat", sans-serif;
  color: #3E464B;
}

/*header & navigation*/
.header {
  background: #F4FBFF;
}
.navbar a {
  text-decoration: none;
  color: #3E464B;
  padding: 5px !important;
}
.navbar a.active {
  border-bottom: 4px solid #B5E0FF;
}
.navbar a:hover {
  background: #B5E0FF;
  color: #3E464B;
}

/*header text*/
mark {
  background-color: #B5E0FF;
  color: #3E464B;
  padding: 5px;
}

/*footer*/
footer {
    background: #F4FBFF;
}

.form-row {
  display: flex;
}
.form-row div {
  flex: 1;
}
form {
  width: 700px;
  margin: 0 auto;
}
.name {
  display: flex;
  justify-content: flex-start;
}
.email {
  display: flex;
  justify-content: flex-end;
}
input[type=text], select {
  width: 337px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #EDEDED;
  font-family: "montserrat", sans-serif;
  color: #3E464B;
}
input::-webkit-input-placeholder {
  font-family: "montserrat", sans-serif;
  color: #A1ABB1;
}
textarea::-webkit-input-placeholder {
  font-family: "montserrat", sans-serif;
  color: #A1ABB1;
}
textarea {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #EDEDED;
  resize: none;
  font-family: "montserrat", sans-serif;
  color: #3E464B;
}

/*about page CSS*/
.container-about {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 80px;
}

.container-about > div {
  flex: 1;
}

.illustration {
  width: 100%;
  max-width: 400px;
  height: auto;
}